@import "tailwindcss";

@theme {
  --color-brand: #4F46E5;
  --color-brand-light: #818CF8;
  --color-obsidian: #09090B;
  --color-obsidian-light: #18181B;
  --color-zinc-800: #27272A;
  --radius-xl: 1.5rem;
  --radius-3xl: 2rem;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

@layer base {
  body {
    @apply bg-obsidian text-zinc-100 font-sans antialiased;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-obsidian;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-800 rounded-full;
  }
}

.glass-panel {
  @apply bg-zinc-900/50 backdrop-blur-xl border border-zinc-800 rounded-3xl transition-all duration-300;
}

.tech-grid {
  background-size: 40px 40px;
  background-image: radial-gradient(circle, rgba(255,255,255,0.03) 1px, transparent 1px);
}

